@import "../../../../../assets/style/variables/mixin.scss";
@import "../../../../../assets/style/variables/variable.scss";


 .sorenaText{
    font-size: 30px;
    direction: rtl;
    color:rgb(71, 2, 231);
    padding: 1px 40px;
    border-radius: 50px;
    background-image:linear-gradient(35deg, #f9c9c5 , #f4d9f9,#c7ecf7);
    // box-shadow:0px 0px 30px 1px #c2c1c2;
   
    
 }
 
 
 